#owner .ihome-product {
  padding-bottom: 0;
}
.whiteFont {
  color: white;
}
.whiteFont:focus,
.whiteFont:hover,
.whiteFont:active {
  color: white;
}
#details .ihome-product {
  padding: 0 0 5em;
}
#details #detailMap {
  width: 100%;
  height: 550px;
  margin-top: 70px;
  border: 1px solid silver;
}
