@basecolor: #d1c286;
.transition(@time:0.5s) {
    -webkit-transition: @time;
    -o-transition: @time;
    transition: @time;
}

.ihome-product{
    .ihome-tabs,.ihome-tab-content-wrap{
        height: 650px !important;
    }
}

.whiteFont{
    color: white;
    &:focus,&:hover,&:active{
        color: white;
    }    
}
input[type=number]{
//  &::-webkit-inner-spin-button{
//      -webkit-appearance: none !important;
//      margin: 0;
//  }
//  -moz-appearance:textfield;
}
#details{
    .product-carousel{
        margin-bottom: 4em;
    }
}
