.ihome-product .ihome-tabs,
.ihome-product .ihome-tab-content-wrap {
  height: 650px !important;
}
.whiteFont {
  color: white;
}
.whiteFont:focus,
.whiteFont:hover,
.whiteFont:active {
  color: white;
}
#details .product-carousel {
  margin-bottom: 4em;
}
